* {
    padding: 0%;
    margin: 0%;
}

body{
    text-align: center;
    font-size: xx-large;
    font-weight: 1000px;
    background-image: linear-gradient(to right, rgba(200, 8, 207, 0.75), rgba(28, 70, 184, 0.8));
    color: whitesmoke;
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif;

}

img{
    border-radius: 10px;
    border-style:inset;
    width: 200px;
}

